
html
  head
    title Class Info
    style
     include ../static/classinfo.css

  body
    //- include header.pug

    section(class="class-info")
      h1 Class Information
      p Welcome to our class information page. Here, you can find details about our dance classes, schedules, and more.

      .class-details
        h2 Class Name: Hip Hop Dance
        p Instructor: John Doe
        p Schedule: Every Monday and Wednesday at 5:00 PM
        p Duration: 1 hour per session
        p Level: Beginner
        p Price: $50 per month

      .class-details
        h2 Class Name: Ballet Dance
        p Instructor: Jane Smith
        p Schedule: Every Tuesday and Thursday at 6:00 PM
        p Duration: 1.5 hours per session
        p Level: Intermediate
        p Price: $60 per month

    //- include footer.pug
